/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilo del navbar */
.custom-navbar {
    background-color: #e7e7fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Estilo de la marca (logo y texto) */
.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.brand-text {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

/* Estilo del menú */
.navbar-menu {
    display: flex;
    align-items: flex-start;
}

/* Estilo del usuario (imagen y texto) */
.nav-item {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 10px;
}

.user-text {
    color: black;
}

/* Estilo del botón */
.custom-button {
    background-color: #e7e7fb; /* Color de fondo */
    color: black; /* Color de texto */
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-right: 15px; /* Separación del resto de los elementos */
    text-decoration: none;
}

.custom-button:hover {
    background-color: #bcbcf1; /* Color al pasar el mouse */
    transform: scale(1.05); /* Efecto de agrandamiento */
}

.custom-button:active {
    background-color: #091c53; /* Color al hacer clic */
    transform: scale(0.95); /* Efecto de reducción */
}

/* Responsivo */
@media (max-width: 768px) {
    .custom-navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-menu {
        margin-top: 10px;
    }
}
